# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# ignore build outputs
service_topology/topology
a.out
node_modules
vsc-extension-quickstart.md
data/nodes
*.js
*.map
sample.json
*.log
*.gz
*.fls
*.aux
*.fdb_latexmk
*.toc